@import "tailwindcss";

@theme {
  /* colors */
  --color-background: #f9fafb;
  --color-foreground: #6b7280;
  --color-secondary: #e5e7eb;
  --color-primary: #030712;

  /* breakpoints */
  --breakpoint-xxl: 1400px;
  --breakpoint-xs: 480px;
}

::selection {
  @apply bg-primary text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
