@import "tailwindcss";

@theme {
  /* colors */
  --color-white: #fcfcfc;
  --color-black: #010101;
  --color-background: #f8f8f8;
  --color-foreground: #585858;
  --color-secondary: #e7e7e7;
  --color-primary: #010101;

  /* breakpoints */
  --breakpoint-xxl: 1400px;
  --breakpoint-xs: 480px;
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-white: #010101;
  --color-black: #fcfcfc;
  --color-background: #262626;
  --color-foreground: #cdcdcd;
  --color-secondary: #303030;
  --color-primary: #fcfcfc;
}

::selection {
  @apply bg-primary text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
