@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* colors */
  --color-background: #fff;
  --color-foreground: #585858;
  --color-secondary: #e7e7e7;
  --color-primary: #111;

  /* breakpoints */
  --breakpoint-xxl: 1400px;
  --breakpoint-xs: 480px;

  /* animations */
  --animate-bnhd-fade-in: bnhd-fade-in 200ms linear;
  --animate-bnhd-fade-out: bnhd-fade-out 200ms linear;
  --animate-bnhd-come-in: bnhd-come-in 200ms linear;
  --animate-bnhd-go-out: bnhd-go-out 200ms linear;

  @keyframes bnhd-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes bnhd-fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes bnhd-come-in {
    from {
      opacity: 0;
      transform: translateY(-40px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes bnhd-go-out {
    to {
      opacity: 0;
      transform: translateY(-40px) scale(0.95);
    }
  }
}

@utility container {
  max-width: 42rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility container-lg {
  max-width: 52rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-white: #111;
  --color-black: #fcfcfc;
  --color-background: #050505;
  --color-foreground: #cdcdcd;
  --color-secondary: #232323;
  --color-primary: #fcfcfc;
}

::selection {
  @apply bg-primary text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code[data-theme],
code[data-theme] span {
  color: var(--shiki-light);
}

.dark code[data-theme],
.dark code[data-theme] span {
  color: var(--shiki-dark);
}

figure[data-rehype-pretty-code-figure] {
  @apply relative;
}

figure[data-rehype-pretty-code-figure]:has(
    figcaption[data-rehype-pretty-code-title]
  )
  div
  > pre {
  @apply border-secondary mt-10.5 rounded-t-none border-t;
}

figcaption[data-rehype-pretty-code-title] {
  @apply bg-secondary/50 text-primary absolute top-2 left-2 z-10 m-0 w-max rounded-lg px-2.5 py-1 text-sm;
}

* {
  @apply focus-visible:outline-primary;
}
